@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
body {
  background-color: #1f2632;
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 300px;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px;
  background-color: #323a49;
}
.advice {
  color: #52ffa8;
}

footer {
  position: fixed;
  padding: 20px;
  bottom: 0;
  width: 100%;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #52ffa8;
  text-decoration: none;
}
